# Ignorar archivos ocultos de macOS
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# Ignorar archivos y directorios ocultos (excepto .git y .gitignore)
**/.*
!.gitignore
!.git

# Ignorar __pycache__ y venv de Python
back-end/server/__pycache__/
back-end/server/venv/

# Ignorar node_modules globalmente
node_modules/
app/node_modules/

# Ignorar logs de npm y yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos temporales del sistema operativo
*.swp
*.swo
*~
.idea/
.vscode/

# Ignorar archivos y carpetas de compilación
/build/
dist/
out/

# Ignorar archivos de entorno
.env
.env.local
.env.*.local

#ignorar archivos de configuración
config.js